* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.header {
  padding: 0 3.2rem;
  background-color: rgb(226, 255, 255);
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo img {
  height: 6rem;
}

.main-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

.main-menu.item {
  display: flex;
  gap: 2rem;
}

.main-menu.item .item {
  color: #3d3d3d;
  font-size: 1.8rem;
  border: 1px solid black;
  padding: 0.4rem 1.2rem;
}

.main-menu.item .item.active {
  background-color: red;
  color: white;
  border: 1px solid rgb(238, 233, 233);
  font-size: 2rem;
}


.main-menu.register a {
  color: green;
  font-size: 1.6rem;
  border: 1px solid green;
  padding: 0.4rem 1.2rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.section-games {
  margin-top: 3rem;
  display: grid;
  column-gap: 6.4rem;
  row-gap: 4.6rem;
  grid-template-columns: repeat(3, 1fr);
}

.game {
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
}

.game-img {
  position: relative;
}

.game-img img {
  max-width: 100%;
}

.game-body {
  padding: 1.2rem 1rem;
  position: relative;
}

.game-body span {
  font-size: 1.2rem;
  color: #6b6b6b;
}

.game-name {
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.game-descr {
  margin-top: 1rem;
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.cat-games {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin: 3rem 0 3rem;
}

.cat-button {
  font-size: 1.4rem;
  font-weight: 600;
  color: #3d3d3d;
  border: 1px solid #555;
  padding: 1rem;
  border-radius: 6px;
}

.active {
  background-color: rgb(51, 184, 11);
  color: white;
  border: 1px solid rgb(238, 233, 233);
  font-size: 1.6rem;
}

.add_game {
  border-radius: 1.1rem;
  margin: 1rem auto;
  max-width: 80rem;
  padding: 6rem 3rem;
  background-color: rgb(203, 255, 238);
}

.post-form {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.post-form textarea {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  width: inherit;
}

.post-form label {
  margin: 1rem 0.3rem 0.3rem;
}

.post-form input {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

.btn-form {
  background: none;
  font-size: 1.6rem;
  border: 1px solid green;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  color: green;
}

.cat-name {
  width: 13rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.btn-form.game {
  text-align: center;
  padding: 1.4rem;
  transition: all 0.3s;
}

.btn-form.game:hover {
  background-color: green;
  color: white;
  font-weight: 400;
}

.game-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2.4rem;
}

.game-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7rem 3rem;
  gap: 3rem;
  background-color: color(a98-rgb 0.92 1 1);
  border-radius: 15px;
}

.game-item .game-img {
  max-width: 50%;
}

.game-body-item {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.game-date {
  text-align: end;
  font-size: 1.2rem;
}

.game-descr-item {
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2.4rem;
}

.popular-games {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.popular-games h2 {
  font-size: 2.4rem;
}

.category {
  position: absolute;
  top: -3.2rem;
  display: inline-block;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: green;
  color: white;
}

.errorlist {
  background-color: rgb(255, 122, 122);
  padding: 1rem;
  color: white;
}

.user {
  margin-top: 3rem;
}

.user-title {
  font-size: 2.4rem;
  text-align: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  border-radius: 1.1rem;
  margin: 1rem auto;
  max-width: 80rem;
  padding: 6rem 3rem;
  background-color: rgb(203, 255, 238);
}

.user-login {
  display: flex;
  flex-direction: column;
  padding: 0 12rem;
}

.user-login label {
  font-size: 1.4rem;
  margin: 1rem 0.3rem 0.3rem;
}

.user-login input {
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

.user-footer {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  gap: 1rem;
  margin: 0 auto;
}

.user-footer a {
  font-weight: bold;
  color: rgb(97, 61, 255);
}

.dropdown-menu {
  color: #3d3d3d;
  font-size: 1.8rem;
  border: 1px solid black;
  padding: 0.4rem 1.2rem;
  background-color: inherit;
}

.main-menu.register {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.user-name {
  font-size: 1.6rem;
}

.game-user {
  margin-top: 0.6rem;
  font-size: 1.3rem;
}

.game-user a {
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.game-user a:hover {
  background-color: #b3b3b3;
  color: white;
  font-weight: 600;
}

.user-published {
  position: absolute;
  bottom: 3.2rem;
  right: 3.2rem;
  font-size: 1.4rem;
}

.container-game {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-game h2 {
  font-size: 2.4rem;
}

.wrap-game {
  margin-top: 1.5rem;
}


.game-href {
  font-size: 1.6rem;
  margin-top: 1rem;
}

.game-href a {
  color: #6b6b6b;
}

.btn-like {
  position: absolute;
  padding: 0.5rem 1rem;
  top: -4rem;
  right: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.heart {
  width: 2rem;
  height: 2rem;
  color: white;
}

.game-body .count {
  font-size: 1.2rem;
  color: white;
}

.btn-like.item {
  top: 1rem;
}

.count {
  font-size: 1.2rem;
  color: white;
}

#authorized {
  display: none;
  position: absolute;
  top: 3rem;
  background: #555;
  right: 0rem;
  color: white;
  padding: 1rem;
}

.btn-like:hover #authorized {
  display: block;
}

.popular-games {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorite-games {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-title {
  font-size: 2.6rem;
}

.comment-field {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.comments {
  margin-top: 3rem;
}

.comments h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.comments h2 span {
  font-weight: 300;
}

.comments form {
  margin-bottom: 2rem;
}

.comments-user {
  font-size: 1.4rem;
  padding: 2rem 3rem;
}

.comment-body {
  border: 0.5px solid #cacaca;
  border-radius: 6px;
  padding: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.comment-author {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.comment-author a {
  display: flex;
  padding: 1rem;
  border: 1px solid #b9b9b9;
  border-radius: 50%;
  color: red;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.comment-create {
  font-weight: 1.2rem;
}

.comment-text {
  margin-top: 1rem;
  line-height: 1.8rem;
}

.comment {
  width: 2rem;
  height: 2rem;
  color: white;
}

.count-comment,
.btn-like .count-comment {
  font-size: 1.2rem;
  color: white;
}

.search-area {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;
}

.search-area form {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.search-field {
  padding: 1rem 2rem;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}

.search {
  width: 3rem;
  height: 3rem;
  color: #b3b3b3;
  background: none;
  border: none;
}

.search-block {
  position: absolute;
  top: 5rem;
  background: #e2ffff;
  border-radius: 2rem;
  width: 40rem;
  z-index: 1;
  display: none;
}

.search-block.active {
  display: block;
}

.result-item {
  margin: 2rem;
}


.result-item a {
  display: flex;
  height: 4rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.result-img {
  height: 100%;
}

.result-name {
  color: #555;
}

.search-response{
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.home {}

.home:hover {
  border-color: #555;
  color: #555;
}
.dynamic{
  text-align: center;
  font-size: 1.8rem;
  color: #555;
}