{% extends 'games/base.html' %}
{% load games_tags %}

{% block content %}

<div class="cat-games">
    {% show_categories cat_selected %}
</div>
<h2 class="game-title">{{game.title}}</h2>
<div class="game-item">
    <div class="game-img">
        <span class="category">{{game.cat}}</span>
        <img src="{{game.photo.url}}" alt="{{game.title}}">
    </div>
    <div class="game-body-item">
        <p class="game-date">{{game.time_create}}</p>
        <p class="game-descr-item">{{game.descr}}</p>
    </div>
</div>
{% endblock %}